__pycache__
*.pyc
*.pyo
*.pyd
.Python
*.so
*.egg
*.egg-info
dist
build
.git
.gitignore
.env
logs/
.pytest_cache
.coverage
htmlcov/
*.parquet
*.snappy
_SUCCESS
lakehouse_engine_repo/
lakehouse/bronze/
lakehouse/silver/
lakehouse/gold/
data_files/**/*.json
!data_files/.gitkeep

